html {
  box-sizing: border-box;
}

body {
  background-color: #dbcfb4;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0px;
  color: rgb(3, 13, 73);
}

h1 {
  background: -webkit-linear-gradient(90deg, #ff0000 0%, #00ff00 80%);
  background: -o-linear-gradient(90deg, #ff0000 0%, #00ff00 80%);
  background: -moz-linear-gradient(90deg, #ff0000 0%, #00ff00 80%);
  background: linear-gradient(90deg, #ff0000 0%, #00ff00 80%);
  border: 10px #8d3bba;
  text-align: center;
}

h2 {
  border: 7px dashed #bc56e1;
}

p {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  text-align: center;
  text-shadow: 0px 5px 10px red;
}

a {
  display: block;
  border: 1px solid brown;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  margin: 0.5em;
  font-weight: bold;
  text-shadow: 1px 1px 3px #e2c2c2;
  text-transform: uppercase;
}

.container {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: center;
}

main {
  margin: 5px;
}

section {
  background: #f6f3ed;
  margin: 5px;
  padding: 10px;
  border: 3px dashed orange;
}

nav {
  background-color: aquamarine;
  margin: auto;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 0.1em;
}

li.selection {
  background-color: #f00;
}
