html {
  box-sizing: border-box;
}

body {
  background-color: #dbcfb4;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0px;
  color: rgb(3, 13, 73);
}

h1 {
  border: 10px solid #8d3bba;
  text-align: center;
}

h2 {
  text-align: center;
}

p {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 50px 30px #ff0000;
  -moz-box-shadow: 0px 0px 50px 30px #ff0000;
  box-shadow: 0px 0px 50px 30px #ff0000;
}

a {
  display: block;
  border: 1px solid brown;
  border-radius: .5em;
  padding: .5em 1em;
  margin: .5em;
  font-weight: bold;
  text-shadow: 1px 1px 3px #e2c2c2;
  text-transform: uppercase;
}

.photo {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.container {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: center;
}

main {
  margin: 5px;
}

section {
  background: #f6f3ed;
  margin: 5px;
  padding: 10px;
  border: 3px dashed orange;
}

nav {
  background-color: #efe5d0;
  margin: 10px 10px 0px 10px;
}

nav ul {
  margin: 0px;
  list-style-type: none;
  padding: 5px 0px 5px 0px;
  display: flex;
  justify-content: center;
}

nav ul li {
  display: block;
  border: 1px solid brown;
  border-radius: .5em;
  padding: .5em 1em;
  margin: .5em;
  font-weight: bold;
  text-shadow: 1px 1px 3px #e2c2c2;
  text-transform: uppercase;
}

li.selected {
  background-color: #c8b99c;
}
a:link,
a:visited {
  color: brown;
  text-decoration: none;
}

a:focus,
a:hover,
a:active {
  color: darksalmon;
  text-decoration: none;
}

footer {
  background-color: #675c47;
  text-align: center;
  padding: 15px;
  margin: 0px 10px 10px 10px;
  font-weight: bold;
  color: #350202;