html {
  box-sizing: border-box;
}

body {
  background-color: #dbcfb4;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0px;
  color: rgb(3, 13, 73);
}

h1 {
  border: 10px dotted #3bba65;
  margin: 5px;
  padding: 10px;
  text-align: center;
  background-color: red;
}

h2 {
  text-align: center;
}

a {
  display: block;
  border: 1px solid brown;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  margin: 0.5em;
  font-weight: bold;
  text-shadow: 1px 1px 3px #e2c2c2;
  text-transform: uppercase;
}

.container {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: center;
}

main {
  margin: 5px;
}

section {
  background: #f6f3ed;
  margin: 5px;
  padding: 10px;
  border: 15px double #2eb9ce;
}
